.wrap {
  background: url(https://www.frontendmentor.io/static/images/bg-layer-2.svg) no-repeat center bottom;
  background-size: contain;
}

.wrap nav ul,
.wrap nav,
.wrap .bag,
.headSect {
  display: flex;
}

.wrap nav {
  position: fixed;
  top: 0;
  height: 60px;
  background-color: #fff;
  border: 1px solid #000;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.wrap nav ul {
  justify-content: space-around;
  width: 30%;
}


.wrap nav h2 {
  font-size: calc(14px + (27 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.wrap nav h1 {
  font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
  margin-left: calc(14px + (150 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.wrap nav h1 img {
  max-width: 20px;
  height: auto;
}

.wrap nav ul {
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}


.wrap .bag {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  height: 100%;
  width: 15%;
  justify-content: center;
  align-items: center;
}

.wrap .bag img {
  max-width: 20px;
  height: auto;
}

.headSect {
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 120px 40px 0 auto;
}

.headSect img {
  max-width: 650px;
  height: auto;
  opacity: 0;
  transform: translateX(20%);
  animation: slideLeft 1.2s forwards 0.6s linear;
}

.headSect div {
  width: 350px;
  margin-left: auto;
}

.headSect div * {
  animation: slideRight 1.2s forwards 0.6s linear;
}

.headSect h1 {
  font-size: 60px;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateX(-20%);
}

.headSect p {
  font-size: 20px;
  position: relative;
}

.headSect p:after {
  content: '';
  position: absolute;
  left: 55%;
  top: 50%;
  width: 40px;
  height: 0;
  border: 1px solid #000;
  animation: slideRight 1.2s forwards 0.6s linear;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@media (max-width: 1124px) {
  .headSect {
    margin-left: 25px;
    margin-right: 20px;
  }
  .headSect div {
    width: 220px;
  }
  .headSect h1 {
    font-size: 45px;
  }
  .headSect p {
    font-size: 15px;
  }
  .headSect p:after {
    left: 75%;
  }
  .headSect img {
    max-width: 480px;
  }
}

@media (max-width: 1024px) {}

@media (max-width: 900px) {}

@media (max-width: 700px) {}

@media (max-width: 561px) {
  .headSect {
    flex-direction: column-reverse;
  }
  .headSect div {
    margin-right: auto;
  }
  .headSect img {
    max-width: 330px;
  }
}