@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
.wrap {
  background: url(https://www.frontendmentor.io/static/images/bg-layer-2.svg) no-repeat center bottom;
  background-size: contain;
}

.wrap nav ul, .wrap nav, .wrap .bag, .headSect, .wrap nav ul li {
  display: flex;
}

.wrap nav {
  position: fixed;
  top: 0;
  z-index: 4;
  height: 60px;
  background-color: #C9DBEC;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.6s;
}

.wrap nav ul {
  justify-content: space-around;
  width: 25%;
  height: 100%;
  margin-top: 2px;
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.wrap nav ul li {
  border: 2px solid rgb(183, 201, 216);
  border-bottom-width: 0px;
  height: 96%;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  transition: 0.1s all ease-in-out;
  box-shadow: inset 6px 6px 5px 0 rgb(224, 240, 253), inset -6px -6px 5px 0 #97B6D2;
}

.wrap nav ul li:hover {
  box-shadow: 6px -10px 10px 0 rgb(224, 240, 253), -6px -10px 10px 0 #97B6D2;
}

.wrap nav ul li:not(:nth-child(odd)) {
  border-right-width: 0px;
  border-left-width: 0px;
}

.wrap nav h2 {
  font-size: calc(14px + (27 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.wrap nav h1 {
  font-family: 'Noto Sans JP', sans-serif;
  transform: scaleX(0) translateX(-50%);
  transition: transform 2s;
  font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
  margin-left: calc(14px + (150 - 14) * ((100vw - 300px) / (1600 - 300)));
  animation: headMove 1.1s forwards 0.6s linear;
}

.wrap .headWrap {
  display: flex;
  align-items: flex-end;
}

.wrap .headWrap h1, .wrap .bag, .wrap nav p, .wrap nav ul li {
  cursor: pointer;
}

.wrap .headWrap img {
  margin-left: 1px;
  max-width: 15px;
  height: auto;
  animation: dotRotate 1s forwards 0.6s linear;
}

.wrap .bag, .wrap nav p {
  background: #C9DBEC;
  border: 2px solid #fff;
  box-shadow: inset 2px 2px 10px 0 rgb(224, 240, 253), inset -3px 3px 5px 0 #97B6D2;
}

.wrap nav p {
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  height: 99%;
  padding: 0 15px;
  line-height: 2.5;
  margin-right: 20px;
  box-shadow: inset 2px 2px 10px 0 #97B6D2, inset -3px 3px 5px 0 rgb(224, 240, 253);
  border-top-left-radius: 20px;
}

.wrap nav p:hover {
  box-shadow: 6px -8px 10px 0 rgb(152, 171, 187), -6px -10px 10px 0 #97B6D2;
}

.wrap .bag {
  height: 100%;
  width: 15%;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
}

.wrap .bag:hover {
  box-shadow: 6px -2px 10px 0 #97B6D2, -6px -10px 10px 0 rgb(224, 240, 253);
}

.wrap .bag img {
  max-width: 20px;
  height: auto;
}

.headSect {
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 120px 40px 0 auto;
}

.headSect img {
  max-width: 650px;
  height: auto;
  opacity: 0;
  transform: translateX(20%);
  animation: slideLeft 1.2s forwards 0.6s linear;
}

.headSect div {
  width: 350px;
  margin-left: auto;
}

.headSect div * {
  animation: slideRight 1.2s forwards 0.6s linear;
}

.headSect h1 {
  font-size: 60px;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateX(-20%);
}

.headSect p {
  font-size: 20px;
  position: relative;
}

.headSect p:after {
  content: '';
  position: absolute;
  left: 55%;
  top: 50%;
  width: 40px;
  height: 0;
  border: 1px solid #000;
  animation: slideRight 1.2s forwards 0.6s linear;
}

@keyframes dotRotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(440deg);
  }
}

@keyframes headMove {
  from {
    transform: scaleX(0) translateX(-50%);
  }
  to {
    transform: scaleX(1) translateX(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.unPlug {
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
  top: 10px;
}

.unPlug h2 {
  margin-left: 90px;
  font-size: calc(14px + (38 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.unPlug button, .vidText button {
  margin-left: 50%;
  position: relative;
  top: 50px;
  left: 150px;
  padding: 15px 20px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  font-size: calc(14px + (34 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.unPlug button span {
  position: relative;
  z-index: 3;
  transition: color 0.3s;
}

.unPlug button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: #37474f;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  transition: -webkit-transform 0.5s, opacity 0.5s, background-color 0.5s;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.unPlug button:hover {
  border-color: gray;
}

.unPlug button:hover::before {
  background-color: #fff;
  opacity: 1;
  z-index: 2;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  transition-timing-function: cubic-bezier(.2, 1, .3, 1);
}

.unPlug button:hover span {
  color: #000;
}

.vidWrap {
  margin-top: 150px;
  position: relative;
}

.vidWrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.vidWrap video {
  width: 100%;
}

.vidWrap .vidText, .vidWrap p {
  position: absolute;
  z-index: 5;
  font-size: 40px;
  color: #fff;
}

.vidWrap p {
  top: 22%;
  left: 80px;
}

.vidWrap .vidText {
  top: 40%;
  display: flex;
  flex-direction: column-reverse;
  height: 300px;
  padding-left: 80px;
}

.vidText button {
  width: max-content;
}

@media (max-width: 1124px) {
  .headSect {
    margin-left: 25px;
    margin-right: 20px;
  }
  .headSect div {
    width: 220px;
  }
  .headSect h1 {
    font-size: 45px;
  }
  .headSect p {
    font-size: 15px;
  }
  .headSect p:after {
    left: 75%;
  }
  .headSect img {
    max-width: 480px;
  }
}

@media (max-width: 1024px) {}

@media (max-width: 900px) {}

@media (max-width: 700px) {}

@media (max-width: 561px) {
  .headSect {
    flex-direction: column-reverse;
  }
  .headSect div {
    margin-right: auto;
  }
  .headSect img {
    max-width: 330px;
  }
  .unPlug {
    top: 60px;
  }
  .unPlug h2 {
    line-height: 1.2;
    margin-left: 60px;
  }
  .unPlug button {
    left: 50px;
  }
}

@media (max-width: 325px) {
  .unPlug button {
    left: 0;
  }
}